---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Null Values and NaN
</h2><br>
</div>

When you work with data, you will quickly learn that data is never "clean". These values are usually referred to as null value. In computation it is best practice to define a "special number" that is "**N**ot **a** **N**umber" also called NaN.

We can use the `isnull` method to know if a value is null or not. It returns boolean values.

In [ ]:
df['flipper_length_mm'].isnull()

**We can apply different methods one after the other.**.  
For example, we could apply to method `sum` after the method `isnull` to know the number of null observations in the **flipper_length_mm** column.
>Get the total number of null values for **flipper_length_mm**.

In [ ]:
# %load ../solutions/02_17.py

To get the count of the different values of a column, we can use the `value_counts` method.

For example, for the species column:

In [ ]:
df['species'].value_counts()

If we want to know the count of NaN values, we have to pass the value `False` to the parameter **dropna** (set to `True` by default).
> Return the proportion for each sex, including the NaN values."

In [ ]:
# %load ../solutions/02_18.py

To get the proportion instead of the count of these values, we have to pass the value `True` to the parameter **normalize**.
>Return the proportion for each species.

In [ ]:
# %load ../solutions/02_19.py

>Using the index attribute, get the indexes of the observation without **flipper_length_mm**

In [ ]:
# %load ../solutions/02_20.py

Use the **[dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)** method to remove the row which only has NaN values.
>Get the help for the dropna method.

In [ ]:
# %load ../solutions/02_21.py

>Use the dropna method to remove the row of `df` where all of the values are NaN, and assign it to `df_2`.

In [ ]:
# %load ../solutions/02_22.py

We can use a f-string to format a string. We have to write a `f` before the quotation mark, and write what you want to format between curly brackets.

In [ ]:
print(f'shape of df: {df.shape}')

> Print the number of rows of `df_2` using a f_string. Did we lose any rows between `df` and `df_2`? If not, why not?

In [ ]:
# %load ../solutions/02_23.py

>Use the dropna method to remove the rows of `df_2` which contains any NaN values, and assign it to `df_3`

In [ ]:
# %load ../solutions/02_24.py

>Print the number of rows of `df_3` using a f_string.

In [ ]:
# %load ../solutions/02_25.py