<div class="alert alert-block alert-info" style="background-color: #301E40; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<br/><br/>
<h1 style="font-size: 45px; color: white; align: center;"><center>
<img src="https://raw.githubusercontent.com/HumbleData/beginners-data-workshop/master/media/humble-data-logo-white-transparent.png" width="250px" /><br/><br/>
Más pandas
</center></h1>
</div>

***Nota***: este *notebook* contiene celdas con ***una*** solución. ¡Recuerda que puede haber más de una solución a un problema de programación!
Reconocerás estas celdas ya que comienzan con
```
# %
```

Si deseas ver la solución, deberás eliminar el `#` usando **Ctrl + /** (Windows) o **Cmd + /** (macOS) y luego ejecutar la celda. Si deseas ejecutar el código de la solución, deberás ejecutar la celda nuevamente.

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Ejercicio
</h2><br>
</div>

> 1. Importar pandas (con la convención más utilizada que se ve en el notebook 2). 
> 2. Importar datetime.  
> 3. Importe matplotlib (como se muestra en el notebook 3.1). 
> 4. Agregue el comando mágico para mostrar la trama en Jupyter.

In [ ]:
# %load ../solutions/05_01.py

En este notebook, vamos a utilizar datos proporcionados por el [gobierno del Reino Unido](https://data.gov.uk/dataset/a59198d9-2e24-4816-be1b-c3a1efa02dda/better-training-for-safer-food). Se proporciona bajo la [Licencia de Gobierno Abierto](http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/).

>Carga los datos del año 2014 y asígnelos a df_2014 (ruta de archivo: '../data/food_training/training_2014.csv')

In [ ]:
# %load ../solutions/05_02.py

>Echa un vistazo a las primeras filas de df_2014

In [ ]:
# %load ../solutions/05_03.py

Puedes ver que el encabezado no está en el lugar correcto.
Si echas un vistazo a la documentación, verá que el parámetro *header* del método read_csv está establecido en *infer*. Inferirá el encabezado usando la primera fila (que tiene el índice *0*).

>Carga los datos del año 2104 usando el parámetro header y asígnalo a df_2014 (se sobrescribirá)

In [ ]:
# %load ../solutions/05_04.py

>Echa un vistazo a las primeras filas de df_2014. Se ve mejor, ¿no?

In [ ]:
# %load ../solutions/05_05.py

>Carga los datos de los años 2015 y 2016 y asígnalos a df_2015 y df_2016 (¡no olvide el parámetro!)

In [ ]:
# %load ../solutions/05_06.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Concatenar
</h2><br>
</div>

Pandas tiene una buena página con documentación sobre [fusión (merge), unión (join) y concatenación](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).

>Usando la documentación, concatena los 3 dataframes en uno, llamado df.

In [ ]:
# %load ../solutions/05_07.py

>comprobar la forma de df

In [ ]:
# %load ../solutions/05_08.py

>Mira los índices de df usando el atributo de index.

In [ ]:
# %load ../solutions/05_09.py

Podemos ver que el índice no va de 0 a 265 con un paso de 1...
> Borra el índice existente y reinícialo usando el método ***reset_index***.  
> Verifica el índice de df.

In [ ]:
# %load ../solutions/05_10.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Tirando columnas
</h2><br>
</div>

>Muestra la información relativa a las columnas de df.

In [ ]:
# %load ../solutions/05_11.py

Podemos ver que las dos últimas columnas están completamente vacías, por lo que las soltaremos.

>Obtén la ayuda para el método drop (si lo prefieres, puedes buscar la documentación en internet).

In [ ]:
# %load ../solutions/05_12.py

Puedes ver que el valor predeterminado para *eje* es *0*. Cuando sea el caso, el método observará las filas (es decir, *eje 0*) del dataframe.
En nuestro caso, queremos eliminar columnas (es decir, *eje 1*).

>Suelta (*drop*) las dos últimas columnas de df.  
>labels: proporciona una lista con los nombres de las columnas  
>¡No olvides el eje!

In [ ]:
# %load ../solutions/05_13.py

In [ ]:
df.head()

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Datos de texto
</h2><br>
</div>

Para [trabajar con datos de texto](https://pandas.pydata.org/pandas-docs/version/0.23.4/text.html), tendremos que usar el atributo ***str*** para acceder al métodos (por ejemplo, `df['col'].str.replace('-', ' ')`).
Tendremos que usar este atributo en diferentes casos, pero antes miraremos la columna *Location*.  
>Demuestra los valores únicos de la columna *Location*.

In [ ]:
# %load ../solutions/05_14.py

Puede ver que las ciudades y los países están separados con una semicolumna (incluso si faltan algunos valores). Vamos a dividir la columna ***Location*** (Ubicación).
>Intenta dividir la columna ***Location*** en la semicolumna. 
>Puedes consultar el [enlace](https://pandas.pydata.org/pandas-docs/version/0.23.4/text.html) proporcionado anteriormente o la [documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html).

In [ ]:
# %load ../solutions/05_15.py

Esto devuelve una lista con los elementos que estaban antes y después de la semicolumna.  
>Vuelve a intentar dividir la columna ***Location***, pero expande los resultados para obtenerlos en diferentes columnas.

In [ ]:
# %load ../solutions/05_16.py

>Crea columnas de ***city*** (ciudad) y ***country*** (país) en df usando esta división.

In [ ]:
# %load ../solutions/05_17.py

>Suelta (*drop*) la columna ***Location***.

In [ ]:
# %load ../solutions/05_18.py

In [ ]:
df.head()

>Obtén el número de valores únicos en la columna ***country***.

In [ ]:
# %load ../solutions/05_19.py

>Comprueba el recuento de cada valor único en la columna ***country***.

In [ ]:
# %load ../solutions/05_20.py

Podemos ver que algunos países (por ejemplo, Italia) parecen aparecer varias veces con algunas variaciones.
>Utiliza el método de franjas para eliminar los (posibles) espacios adicionales al principio y al final de las ciudades y países.

In [ ]:
# %load ../solutions/05_21.py

   >Vuelve a comprobar el número de valores únicos en la columna del ***country***

In [ ]:
# %load ../solutions/05_22.py

>Echa un vistazo a las filas donde el ***country*** es Portugal.
¿Qué notas sobre la ***city***?

In [ ]:
# %load ../solutions/05_23.py

>Ponga la columna ***city*** en minúsculas (no olvide volver a asignarla a la columna **city**).

In [ ]:
# %load ../solutions/05_24.py

>Echa un vistazo a las filas donde la ***city*** contiene '***/***'.

In [ ]:
# %load ../solutions/05_25.py

Decidamos que solo queremos tener una ciudad para cada fila. Podemos decidir mantener solo la ciudad antes de la barra diagonal.  
>Reemplaza la cadena con una barra inclinada (es decir, ***/***) con la ciudad que aparece antes de la barra inclinada en la columna ***city***.  
>
Tendrás que usar una [expresión regular](https://docs.python.org/es/3/howto/regex.html#repeating-things).      
>Puedes probar tu expresión regular [aquí](https://regex101.com).

In [ ]:
# %load ../solutions/05_26.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Mapa (Map)
</h2><br>
</div>

In [ ]:
df['country'].value_counts()

Vimos que algunos países se llenaron con su código de país, y otros con su nombre. Vamos a mover todo al mismo formato.
Podemos hacerlo asignando un diccionario a una columna. Luego reemplazará la ***key*** con el ***value*** correspondiente. 
>Completa el código a continuación para reemplazar los códigos de país con el nombre del país. 
>Ten en cuenta que usamos una máscara porque queremos reemplazar solo ciertos valores de la serie.

In [ ]:
dict_code = {'BG':'Bulgaria', 'CZ':'Czech Republic', 'IT':'Italy', 'GR':'Greece', 'SI':'Slovenia', 'UK':'United Kingdom'}

df.loc[df['country'].isin(dict_codes.keys()), 'country'] =

In [ ]:
# %load ../solutions/05_27.py

In [ ]:
df['country'].value_counts(dropna=False)

Ciertos valores de la ciudad son desconocidos. 
>Echa un vistazo a los valores de ***country*** donde la ***city*** es ***unknown***.

In [ ]:
df['city'].value_counts()

In [ ]:
# %load ../solutions/05_28.py

>Completa el código a continuación para reemplazar el valor ***unknown*** en la columna ***city*** con la capital del ***country*** correspondiente.

In [ ]:
dict_capitals = {'Denmark':'copenhague', 'France':'paris', 'Italy':'rome', 'Spain':'madrid', 'United Kingdom':'london'}

df.loc[df['city'] == 'unknown', 'city'] = df.loc[df['city'] == 'unknown', 'country'].

In [ ]:
# %load ../solutions/05_29.py

Faltan muchos países, pero podemos llenarlos usando las ciudades.
Podemos crear un diccionario de ciudades y sus países correspondientes usando las filas donde el ***country*** no es nulo.

In [ ]:
dict_cities = df.loc[df['country'].notnull(), ['city', 'country']].set_index('city').to_dict()['country']

Ahora queremos comprobar si todas las ciudades que necesitamos están en nuestro diccionario. 
>Restando las claves del diccionario al conjunto de valores de ***city***, encuentra qué ciudades están en la columna ***city*** pero no en las ***keys*** del diccionario.

In [ ]:
# %load ../solutions/05_30.py

>Sabiendo que Bristol está en el Reino Unido, Gotemburgo en Suecia, Graz en Austria, Lyon en Francia, Murcia en España y Parma en Italia, agregue un par clave-valor al diccionario ***dict_cities***. 
>Puedes agregar cada par clave-valor o puede [actualizar](https://python-reference.readthedocs.io/en/latest/docs/dict/update.html) dict_cities con otro diccionario.

In [ ]:
# %load ../solutions/05_31.py

>Utiliza este diccionario para completar algunos de los países que faltan.

In [ ]:
# %load ../solutions/05_32.py

>Obtén el recuento de los diferentes valores de la columna ***country***, mostrando los valores de NaN.

In [ ]:
# %load ../solutions/05_33.py

Podemos ver que solo hay 4 valores NaN. Corresponden a entradas de datos incorrectos que podríamos corregir "manualmente". ¡Siéntete libre de agregar algunas llamadas a continuación y pruébalo si te apetece!

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Aplicar (Apply)
</h2><br>
</div>

>Escribe una función que devuelva ***single*** si el valor pasado es 1 y ***multiple*** en caso contrario.

In [ ]:
# %load ../solutions/05_34.py

>Aplica esta función a la columna ***Attendees***.

In [ ]:
# %load ../solutions/05_35.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Unirse (Join)
</h2><br>
</div>

>Carga los datos del idioma y asígnelos a los idiomas (ruta: '../data/food_training/languages.csv')

In [ ]:
# %load ../solutions/05_36.py

In [ ]:
languages.head()

>Úne *df* y *languages* para agregar la información de idioma a *df*.
>Puedes consultar la página sobre [fusión, unión y concatenación](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) o el método de fusión (merge) [documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [ ]:
# %load ../solutions/05_37.py

>Suelta (drop) la columna ***Country*** de df.

In [ ]:
# %load ../solutions/05_38.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Datetime
</h2><br>
</div>

>Comprueba el tipo de ***DateFrom***.

In [ ]:
# %load ../solutions/05_39.py

***DateFrom*** y ***DateTo*** son objetos.
>Convierte estas dos columnas al formato ***datetime***.

In [ ]:
# %load ../solutions/05_40.py

Nota: Podríamos haber usado el parámetro *parse_dates* al cargar datos.
Ahora podemos usar estas columnas para filtrar o hacer algún cálculo.
>Muestra las filas donde comenzó la capacitación después del primero de febrero de 2017.

In [ ]:
# %load ../solutions/05_41.py

>Crea una columna de ***duration*** con la duración del entrenamiento.

In [ ]:
# %load ../solutions/05_42.py

>Crea una columna de ***month*** que indique en qué mes comenzó la capacitación.
>Dibuja un histograma de la columna ***month***.

In [ ]:
# %load ../solutions/05_43.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Ordenar valores (Sort)
</h2><br>
</div>

>Ordenar df en orden alfabético de ***cities***.

In [ ]:
# %load ../solutions/05_44.py

>Ordenar df por ***duration*** ascendente y número descendente de ***Attendees***.

In [ ]:
# %load ../solutions/05_45.py

Podemos ver que hubo un par de problemas con la entrada de datos de fechas...

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Agrupar por (Group By)
</h2><br>
</div>

>Agrupar df por ***city***. Asigne los datos agrupados a df_gr.

In [ ]:
# %load ../solutions/05_46.py

>Obtén el número medio de ***Attendees*** para los datos agrupados.

In [ ]:
# %load ../solutions/05_47.py